.main {
  height: 100vh;
  background-color: #0D1F2D;
  display:flex;
}

.main-text {
  color: #E4C3AD;
  font-weight: 900;
}

.btn2 {
  background-color: #9EA3B0 !important;
  color: #0D1F2D !important;
  font-weight: bold !important;
}

.btn2:hover {
  background-color: #7a7d86 !important;
  color: white !important;
}

.btn2:focus {
  outline: none !important;
  outline-offset: none !important;
  background-color: #7a7d86;
  color: white;
}


@media(max-width: 360px) {
  .typicalText {
    font-size: 25px ;
  }
}
